<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family: Arial, 'Times New Roman', Times, serif; font-size:12px; font-weight: normal">
		<div>
			<div>${lastname} ${firstname} 様</div>
			<br>
			<div>ショコラのお申込みありがとうございます！</div>
			<div>あなたの休日がもっと素敵になるように、</div>
			<div>ショコラがお手伝いいたします！</div>
			<br>
			<div>■申込み受付内容</div>
			<div>以下の内容が正しいか、ご確認をお願いいたします。</div>
			<div>希望日時： <span id="date">${requestdate} </span> ${requesttime} 時～</div>
			<div>希望サービス内容： ${servicename} </div>
			<div>希望のお部屋： ${roomname}</div>
			<br>
			<div>スタッフが確定し次第、ショコラから連絡いたします。</div>
			<div>以下注意をご一読の上、今しばらくお待ちください。</div>
			<br>
			<div>■サービス利用にあたってのご注意<div>
			<div>・2時間で出来る範囲のお掃除となります。<div>
			<div>お部屋の広さや汚れのしつこさにより、ご依頼のあった内容が全て終わらない可能性もございます。<div>
			<div>詳細はスタッフがお伺いした際に、お打ち合わせをさせていただきます。<div>
			<div>・10キロ以上の重たい物の運搬や、手が届かない高所の作業はサービス範囲外となります。<div>
			<div>・契約が成立していない場合を除き、<div>
			<div>キャンセルはサービス提供日の3日前までとなっております。<div>
			<div>サービス提供日の前々日以降のキャンセルは、料金が全額かかります。<div>
			<div>・サービス提供開始時及び終了時はご在宅をお願いいたします。<div>
			<div>・お掃除道具はお客様のご自宅にあるものを使用させていただきます。<div>
			<div>普段お使いになっているお掃除道具のご準備をお願いいたします。<div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div> ショコラ　～ share of co life ～</div>
			<div>■発行元：ショコラ http://shocola.jp</div>
　 			<div>■運営会社：株式会社インテリジェンス</div>
			<div>■お問い合せ：support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© 2015 Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>