<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family:Arial, 'Times New Roman', Times, serif; font-size: 12px; font-weight: normal">
		<div>
			<div>ショコラに新規リクエストが登録されました。</div>
			<br>
			<div>内容を確認してください。</div>
			<br>
			<table>
				<tr>
					<td>姓</td>
					<td>:</td>
					<td>${lastname}</td>
				</tr>
				<tr>
					<td>名</td>
					<td>:</td>
					<td>${firstname}</td>
				</tr>
				<tr>
					<td>セイ</td>
					<td>:</td>
					<td>${lastnamekana}</td>
				</tr>
				<tr>
					<td>カナ</td>
					<td>:</td>
					<td>${firstnamekana}</td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td>:</td>
					<td>${zipcode}</td>
				</tr>
				<tr>
					<td>都道府県</td>
					<td>:</td>
					<td>${prefectureid}</td>
				</tr>
				<tr>
					<td>住所1</td>
					<td>:</td>
					<td>${address1}</td>
				</tr>
				<tr>
					<td>住所2</td>
					<td>:</td>
					<td>${address2}</td>
				</tr>
				<tr>
					<td>住所3</td>
					<td>:</td>
					<td>${address3}</td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td>:</td>
					<td>${emailaddress}</td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td>:</td>
					<td>${tel}</td>
				</tr>
				<tr>
					<td>居住形態</td>
					<td>:</td>
					<td>${buildingtype}</td>
				</tr>
				<tr>
					<td>部屋タイプ</td>
					<td>:</td>
					<td>${housename}</td>
				</tr>
				<tr>
					<td>オートロック</td>
					<td>:</td>
					<td>${isautolock}</td>
				</tr>
				<tr>
					<td>ペット</td>
					<td>:</td>
					<td>${isexistpet}</td>
				</tr>
				<tr>
					<td>要望</td>
					<td>:</td>
					<td>${demain}</td>
				</tr>
				<tr>
					<td>希望サービス</td>
					<td>:</td>
					<td>${servicename}*x</td>
				</tr>
				<tr>
					<td>希望のお部屋</td>
					<td>:</td>
					<td>${roomname}*x</td>
				</tr>
				<tr>
					<td>サービス開始希望日</td>
					<td>:</td>
					<td>${termstartday}</td>
				</tr>
				<tr>
					<td>サービス開始希望時間</td>
					<td>:</td>
					<td>${termrequesttime}</td>
				</tr>
				<tr>
					<td>オファー日</td>
					<td>:</td>
					<td>${offerdate}</td>
				</tr>
				<tr>
					<td>最寄りの駅</td>
					<td>:</td>
					<td>${stationname}</td>
				</tr>
				<tr>
					<td>最寄りのバス停</td>
					<td>:</td>
					<td>${bus_stop}</td>
				</tr>
				<tr>
					<td>価格</td>
					<td>:</td>
					<td>${price} (yen)</td>
				</tr>
			</table>
			<br>
			<div>------------------------------------</div>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div>ショコラ　～ share of co life ～</div>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>