<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family: Arial, 'Times New Roman', Times, serif; font-size:12px; font-weight: normal">
		<div>
			<div>${lastname} ${firstname} 様</div>
			<br>
			<div>ご登録ありがとうございます！</div>
			<div>ようこそショコラへ！</div>
			<br>
			<div>あなたの大切な休日、</div>
			<div>もっと家族や恋人と一緒に過ごしたり、</div>
			<div>読書や、自己投資に充てたりしませんか？</div>
			<div>ショコラがお手伝いいたします。</div>
			<br>
			<div>------------------------------------</div>
			<div>■アカウント情報</div>
			<div>電話番号： ${tel}</div>
			<div>メールアドレス： ${emailaddress}</div>
			<div>パスワード： <span> << </span> 非表示 <span> >> </span></div>
			<div>------------------------------------</div>
			<br>
			<div><本メールにお心当たりがない方へ></div>
			<div>どなたかが間違ってアドレスを入力した可能性がございます。</div>
			<div>お心当たりのない場合は、お手数をおかけいたしますが下記までご連絡をお願いいたします。</div>
			<div>support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div> ショコラ　～ share of co life ～</div>
			<div>■発行元：ショコラ http://shocola.jp</div>
　 			<div>■運営会社：株式会社インテリジェンス</div>
			<div>■お問い合せ：support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© 2015 Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>