<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family: Arial, 'Times New Roman', Times, serif; font-size:12px; font-weight: normal">
		<div>
			<div>パスワード変更のお手続きについて</div>
			<br/>
			<br/>
			<div>${name} 様</div>
			<br>
			<div>パスワード変更のお申し込みを受け付けました。</div>
			<div>以下のリンクをクリックしてパスワード変更のお手続きに進んでください。</div>
			<div><a href="${recover_link}" target="_blank">パスワードを変更する</a></div>
	        <br/>
	        <br/>
            <div>もしもリンクが開けない場合は、お手数ですが以下のリンクをブラウザで開き、</div>
            <div>パスワードの変更を行ってください。</div>
            <div><a href="${recover_link}" target="_blank">${recover_link}</a></div>
	        <br/>
	        <br/>
			<div>------------------------------------</div>
			<br>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div> ショコラ　～ share of co life ～</div>
			<div>■発行元：ショコラ http://shocola.jp</div>
　 			<div>■運営会社：株式会社インテリジェンス</div>
			<div>■お問い合せ：support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>