<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family: Arial, 'Times New Roman', Times, serif; font-size:12px; font-weight: normal">
		<div>
			<div>ようこそショコラへ！</div>
			<br>
			<div>あとちょっと手軽に働きたい！</div>
			<div>そんなあなたをショコラがお手伝いいたします。</div>
			<div>誰かの役に立つことで、その「あとちょっと」を叶えましょう！</div>
			<br>
			<div>------------------------------------</div>
			<div>■アカウント情報</div>
			<div>電話番号： ${tel}</div>
			<div>メールアドレス： ${emailaddress}</div>
			<div>パスワード： セキュリティ保護の為非表示</div>
			<div>------------------------------------</div>
			<br>
			<div>ご登録後の流れとしては、以下のようになります。</div>
			<div>①    ご都合のあう時間で登録説明・研修会に参加</div>
			<div>②    はたらきたい希望・スキマ時間のスケジュールを登録</div>
			<div>③    お仕事のご紹介・お仕事の決定</div>
			<div>④    お仕事の実施・報酬の受取り</div>
			<br>
			<div>この仮登録完了後、1～2営業日以内に</div>
			<div>登録・研修会のご案内をショコラからいたします。</div>
			<div>今しばらくお待ちください。</div>
			<br>
			<div><span><</span>本メールにお心当たりがない方へ<span>></span></div>
			<div>どなたかが間違ってアドレスを入力した可能性がございます。</div>
			<div>お心当たりのない場合は、お手数をおかけいたしますが下記までご連絡をお願いいたします。</div>
			<div>support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div> ショコラ　～ share of co life ～</div>
			<div>■発行元：ショコラ http://shocola.jp</div>
　 			<div>■運営会社：株式会社インテリジェンス</div>
			<div>■お問い合せ：support-shocola@inte.co.jp</div>
			<br>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© 2015 Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>