<html>	
	<head>
		
	</head>
	<body lang="jp" style="font-family: Arial, 'Times New Roman', Times, serif; font-size:12px; font-weight: normal">
		<div>
			<div>ショコラに新しいスタッフさんが登録されました！</div>
			<br>
			<table>
				<tr>
					<td>スタッフコード</td>
					<td>:</td>
					<td>${staffcode}</td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td>:</td>
					<td>${emailaddress}</td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td>:</td>
					<td>${tel}</td>
				</tr>
				<tr>
					<td>姓</td>
					<td>:</td>
					<td>${lastname}</td>
				</tr>
				<tr>
					<td>名</td>
					<td>:</td>
					<td>${firstname}</td>
				</tr>
				<tr>
					<td>セイ</td>
					<td>:</td>
					<td>${lastnamekana}</td>
				</tr>
				<tr>
					<td>カナ</td>
					<td>:</td>
					<td>${firstnamekana}</td>
				</tr>
			</table>
			<br>
			<div>内容を確認し、本登録の手続きを進めてください。</div>
			<br>
			<div>------------------------------------</div>
			<div>もっと、スマートで、自由な働き方をあなたに。</div>
			<div>　ショコラ　～ share of co life ～</div>
			<div>------------------------------------</div>
			<br>
			<div>Copyright© Intelligence Co.,Ltd.</div>
			<div>All rights reserved.</div>
		</div>
	</body>
</html>