doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="SHOCOLA")
    meta(name="author", content="intelligence")
    link(rel="stylesheet", href="../css/public.css")
  body
    div.box-center
      img(src="imgs/logo.png")
    div.box-error
      h3 Error 404: Not Found
      h4 #{ error }
  footer
    div(class="box-center",role="footer")
      @2015 ショコラhttps://prottapp.com/ja/privacy.html