extends ../layout
block header
  script(type='text/javascript', src='/content/js/worker_controller.js')

block content
  div(class="page-header")
    img(src="/content/css/imgs/logo.png")
  div(class="hk-bg box-middle leftside-color-orange")
    p(class="hk-ex130 hk-bold hk-center") #{__('recover_password_title')}
    br
    p(class="hk-center") #{__('recover_password_info_success')}
    br
    div.hk-center
      a(href="/staff" class="btn btn-lg btn-primary hk-bold") #{__('recover_password_btn_login')}
    
block footer
